@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
}

#siteHeading {
  text-align: center;
  font-size: 5em;
}

#sgContainer {
  display: grid;
}

#sgHeader {
  background: black;
  color: white;
}

#sgNav {
  background: black;
  margin: 0.5em;
}

#sgNav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-right: 0.5em;
}

#sgMain {
  margin: 0 1em;
}
