@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#siteHeading {
  text-align: center;
  font-size: 5em;
}

#sgContainer {
  display: grid;
}
