<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - PDFPFP</title>
    <link rel="stylesheet" href="/resources/css/site.css">
  </head>
  <body>
    <div id="sgContainer">
      <header id="sgHeader" role="heading">
        {% include header.html %}
      </header>
      <main id="sgMain" role="main">
        <div id="content">
          {{ page.content }}
        </div>
      </main>
      <footer id="sgFooter" role="contentinfo">
        {% include footer.html %}
      </footer>
    </div>
    <script src="/resources/js/site.js"></script>
  </body>
</html>
