<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - PDFPFP</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/site.css">
  </head>
  <body>
    <div id="sgContainer">
      <header id="sgHeader" class="sgItem" role="heading">
        {% include header.html %}
      </header>
      
      <nav id="sgNav" class="sgItem" role="navigation">
        {% include nav.html %}
      </nav>
      
      <main id="sgMain" class="sgItem" role="main">
        <div id="content">
          {{ page.content }}
        </div>
      </main>
      
      <footer id="sgFooter" class="sgItem" role="contentinfo">
        {% include footer.html %}
      </footer>
    </div>
    
    <script src="{{ site.baseurl }}/resources/js/site.js"></script>
  </body>
</html>
