<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - PDFPFP</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  </head>
  <body>
    <div id="sgContainer">
      <header id="sgHeader" class="sgItem" role="heading">
        {% include header.html %}
      </header>
      
      <nav id="sgNav" class="sgItem" role="navigation">
        {% include navbar.html %}
      </nav>
      
      <main id="sgMain" class="sgItem" role="main">
        <div id="content">
          {{ content }}
        </div>
      </main>
      
      <footer id="sgFooter" class="sgItem" role="contentinfo">
        {% include footer.html %}
      </footer>
    </div>
    
    <script src="{{ site.baseurl }}/resources/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  </body>
</html>
